body {
	background-color: rgb(200, 200, 200);
}
.content {
	background-color: rgb(240, 240, 240);
	text-align: center;
	width: 70%;
	top: 5%;
	bottom: 5%;
	position: absolute; 
	left: 15%; 
	img {
		width: 100%;
	}
}

.colour_block {
	display: inline-block; 
	width:16px; 
	height:16px; 
}